<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CTServiceSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="CTServiceSOAP1" />
                <binding name="PersonaServiceA5SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PersonaServiceA5SoapBinding1" />
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
                <binding name="ServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap3" />
                <binding name="ServiceSoap4">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap5" />
                <binding name="ServiceSoap6">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap7" />
                <binding name="LoginCmsSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LoginCmsSoapBinding1" />
                <binding name="LoginCmsSoapBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="LoginCmsSoapBinding3" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="ServiceSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <!--<binding name="VEConsumerServiceSoapBinding" maxReceivedMessageSize="20000000" >
                  <mtomMessageEncoding messageVersion="Soap12" />
                  <httpsTransport requireClientCertificate="true" />
                </binding>-->
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://serviciosjava.afip.gob.ar:443/wsct/CTService" binding="basicHttpBinding" bindingConfiguration="CTServiceSOAP" contract="ar.gob.afip.serviciosjava.CTServicePortType" name="CTServiceSOAP" />
            <endpoint address="https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA5" binding="basicHttpBinding" bindingConfiguration="PersonaServiceA5SoapBinding" contract="ar.gov.afip.aws.PersonaServiceA5" name="PersonaServiceA5Port" />
            <endpoint address="https://servicios1.afip.gov.ar/wsfe/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="ar.gov.afip.servicios1.ServiceSoap" name="ServiceSoap" />
            <endpoint address="https://servicios1.afip.gov.ar/wsfe/service.asmx" binding="customBinding" bindingConfiguration="ServiceSoap12" contract="ar.gov.afip.servicios1.ServiceSoap" name="ServiceSoap12" />
            <endpoint address="https://servicios1.afip.gov.ar/wsbfev1/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap2" contract="ar.gov.afip.servicios1bonos.ServiceSoap" name="ServiceSoap1" />
            <endpoint address="https://servicios1.afip.gov.ar/wsbfev1/service.asmx" binding="customBinding" bindingConfiguration="ServiceSoap121" contract="ar.gov.afip.servicios1bonos.ServiceSoap" name="ServiceSoap121" />
            <endpoint address="https://servicios1.afip.gov.ar/wsfev1/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap4" contract="ar.gov.afip.servicios1fev2.ServiceSoap" name="ServiceSoap2" />
            <endpoint address="https://servicios1.afip.gov.ar/wsfex/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap6" contract="ar.gov.afip.servicios1fex.ServiceSoap" name="ServiceSoap3" />
            <endpoint address="https://wsaa.afip.gov.ar/ws/services/LoginCms" binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding" contract="ar.gov.afip.wsaa.LoginCMS" name="LoginCms" />
            <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding2" contract="ar.gov.afip.wsaahomo.LoginCMS" name="LoginCms1" />
            <!--<endpoint address="https://infraestructura.afip.gob.ar/ve-ws/services/veconsumer?wsdl"
                binding="customBinding" bindingConfiguration="VEConsumerServiceSoapBinding"
                contract="VEConsumerService.VEConsumer" name="VEConsumerPort" />-->
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>