@model CSAppBE.Web.Models.ChangeCertificateViewModel
@{
    ViewData["Title"] = "Administración de Certificado";
}
<div class="text-center">
    <h2>Administrá tu certificado digital</h2>
    <hr class="default-hr" />
</div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Certificate.Id" />
                <div class="form-group">
                    <label asp-for="Certificate">¿En dónde se encuentra su certificado?</label>
                    <input type="file" name="file" />
                </div>
                <div class="form-group">
                    <label asp-for="Password">Contraseña del Certificado</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Actualizar" class="btn btn-primary" />
                </div>
                <div class="text-success">@ViewBag.UserMessage</div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
