@model CSAppBE.Web.Models.RegisterNewUserViewModel
@{
    ViewData["Title"] = "Registrarme";
}

<div class="text-center">
    <h2 class="justify-content-center">Registrarme</h2>
    <hr class="default-hr" />
</div>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name">Razón Social</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Serial">Número de Serie</label>
                <input asp-for="Serial" class="form-control" />
                <span asp-validation-for="Serial" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Username">Usuario</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Confirm">Confirmar Contraseña</label>
                <input asp-for="Confirm" type="password" class="form-control" />
                <span asp-validation-for="Confirm" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Registrarme" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
