@{
    ViewData["Title"] = "Error404";
}

<br />
<br />
<div class="justify-content-center align-content-center">
    <img class="img-fluid" src="~/images/error404.png" />
    <h2>Te pedimos disculpas, no encontramos la página a la que querías acceder.</h2>
</div>