@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Novedades</h1>
    <hr class="default-hr" />
    
</div>
<div class="container">
    <p>@ViewBag.News</p>
</div>